 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
 <!-- Compiled and minified CSS -->
  

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

            


</head>

<body>


 <style>
nav {
    color: #fff;
    background-color: blue;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
 .modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 60%;
    width: 40%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}
 .btn{
    text-decoration: none;
    color: #fff !important;
    background-color: blue;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}
#add-rule i.left {
    float: left;
    margin-right: 10px;
}
.edit-campaign{
	color: blue;
	cursor: pointer;
}
</style>
<div class="row">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">

	<div class="row">
		<div class="col s12 l12 m12 right">
			<a class="waves-effect waves-light btn modal-trigger" id="add-rule" href="#modal1"><i class="material-icons left">add</i>Add Rule</a>
		</div>
	</div>
	<div class="row campaign-wrapper">
		<div class="col s12 l12 m12">
			<table class="striped">
		        <thead>
		          <tr>
		              <th>Rule Name</th>
		              <th>Campaigns</th>
		              <th>Rule Schedule</th>
		              <th>Rule Status</th>
		              <th>Edit</th>
		          </tr>
		        </thead>

		        <tbody>
		        {{for row in ruleQuery:}}
		          <tr id="{{row.campaign_rule.id}}">
		            <td>{{=row.campaign_rule.name}}</td>
		            <td>{{=row.campaign.name}}r</td>
		            <td>{{=row.campaign_rule.schedule_time}}</td>
		            <td>{{=(row.campaign_rule.status).title()}}</td>
		            <td><i class="material-icons left edit-campaign">edit</i></td>
		          </tr>
		          {{pass}}
		         <!--  <tr>
		            <td>Alan</td>
		            <td>Jellybean</td>
		            <td>$3.76</td>
		            <td>Activated</td>
		            <td><i class="material-icons left edit-campaign">edit</i></td>
		          </tr>
		          <tr>
		            <td>Jonathan</td>
		            <td>Lollipop</td>
		            <td>$7.00</td>
		            <td>Activated</td>
		            <td><i class="material-icons left edit-campaign">edit</i></td>
		          </tr> -->
		        </tbody>
      		</table>
		</div>
	</div>
	<div id="modal1" class="modal">
	    <div class="modal-content">
	       <div class="row">
			    <form class="col s12">
			      <div class="row">
			        <div class="input-field col s12">
			          <input placeholder="Placeholder" id="name" type="text" class="validate">
			          <label for="name">Rule Name</label>
			        </div>
			       <div class="input-field col s12">
					    <select  name="campaigns" multiple="multiple">
					      <option value="" disabled selected>Choose your option</option>
					      {{for val in data:}}
					      <option value="{{=val.id}}">{{=val.name}}</option>
					      {{pass}}

					    </select>
   
  					</div>
  				</div>
			      <div class="row">
			        <div class="input-field col s12">
			        	
 						<input type="text" name="datetimepicker" class="timepicker">
			        	<label for="datetimepicker">Schdule time</label>
			          
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <input id="rule" >
			          <label for="rule">Rule</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="col s12">
			        	Status
			             <p>
						      <input name="group1" type="radio" id="test1" />
						      <label for="test1">Activated</label>
						      <input name="group1" type="radio" id="test2" />
						      <label for="test2">Deactivated</label>
						</p>
     				</div>
			      </div>
			      <div class="col s12 l12 m12 right">
						<a class="waves-effect waves-light btn" >Submit</a>
				</div>
			    </form>
  				</div>
	    </div>
	   
  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<script>
$("#rule").on('blur',function(){
	// alert("sonam is awesome")
	var is_check = isCondition($(this).val())
	if(!is_check){
		Materialize.toast('Invaild Rule',3000,'blue')
	}
	// alert(is_check/)

})
 $('.modal').modal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      inDuration: 300, // Transition in duration
      outDuration: 200, // Transition out duration
      startingTop: '4%', // Starting top style attribute
      endingTop: '10%', // Ending top style attribute
      ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
        
        console.log(modal, trigger);
      },
      complete: function() {  } // Callback for Modal close
    }
  );
   $(document).ready(function() {
    $('select').material_select();
  });

 $('.timepicker').pickatime({
    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: false, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button,
    container: undefined, // ex. 'body' will append picker to body
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker
  });
function isCondition(condition) {
        var regex = /^([A-Za-z\s])+([><=!\s])+([0-9\s])+(and)+([A-Za-z\s])+([><=!\s])+([0-9\s])$/;
        return regex.test(condition);
 }
  
  $.ajax(
  	{url: "demo_test.txt", success: function(result){
    $("#div1").html(result);
  }});
 
</script>

</body>
</html> 